<div class="list-group">
  <a href="/admin/rdv" class="list-group-item list-group-item-action">Rendez-vous</a>
  <a href="/admin/clients" class="list-group-item list-group-item-action">
    Clients
  </a>
  <a href="/admin/addarticle" class="list-group-item list-group-item-action">
    Ajouter un article
  </a>
</div>