<div class="list-group" style="width: 16rem">
  <a href="/admin/rdv" class="list-group-item list-group-item-action">Rendez-vous</a>
  <a href="/admin/clients" class="list-group-item list-group-item-action">
    Clients
  </a>
  <a href="/admin/articles" class="list-group-item list-group-item-action">
    Articles
  </a>
</div>