<div class="col-6">
  <div class="form-floating mb-3">
    <label for="articleTitle">Article Title</label>
    <input type="text" class="form-control" id="articleTitle" value="{{this.article_title}}" placeholder="Article Title"
      name="article_title">

  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <label for="articleContent">Article Content</label>
    <textarea name="article_content" id="articleContent" value="{{this.article_content}}" placeholder="Article Content"
      cols="60" rows="10"></textarea>

  </div>
</div>

<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>