<div class="list-group">
    <a href="/client/{{user_id}}" class="list-group-item list-group-item-action">Acceuil</a>
    <a href="/client/{{user_id}}/addrdv" class="list-group-item list-group-item-action">Prendre un rendez-vous</a>
    <a href="/client/{{user_id}}/viewrdv" class="list-group-item list-group-item-action">
        Voir mes rendez-vous
    </a>
</div>