<div class="list-group">
    <a href="/client/1/addrdv" class="list-group-item list-group-item-action">Prendre un rendez-vous</a>
    <a href="/client/1/viewrdv" class="list-group-item list-group-item-action">
        Voir mes rendez-vous
    </a>
</div>