<div class="col-6">
    <div class="form-floating mb-3">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" value="{{this.first_name}}" placeholder="First Name"
            name="first_name">
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" value="{{this.last_name}}" placeholder="Last Name"
            name="last_name">
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" value="{{this.username}}" placeholder="Username"
            name="username">
    </div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>