<div class="list-group">
  <a href="/rdv" class="list-group-item list-group-item-action">Rendez-vous</a>
  <a href="/clients" class="list-group-item list-group-item-action">
    Clients
  </a>
  <a href="/addarticle" class="list-group-item list-group-item-action">
    Ajouter un article
  </a>
</div>