<section id="innerBanner"></section>
<main id="main">
    <div class="container dashboard">
        {{>client-sidebar}}

        <div class="container ">
            {{#if alert}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{alert}}
            </div>
            {{/if}}
            <div class="d-flex flex-wrap">
                {{#each rows}}
                <div class="card" style="width: 18rem;background-color:var(--third)">
                    <div class="card-body">
                        <p>{{this.rdv_id}}</p>
                        <h5 class="card-title">Date : {{this.rdv_date}} </h5>
                        <p class="card-text">Détails de rendez-vous</p>
                        <form action="/client/1/{{this.rdv_id}}">
                            <button type="submit" class="btn btn-primary">Annuler</button>
                        </form>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>

    </div>
</main>