<section id="innerBanner"></section>
<main id="main">
    <div class="container dashboard">
        {{>client-sidebar}}
        <div class="main-client-dashboard">
            <h2>Accueil</h2>
        </div>
    </div>
</main>