<section id="innerBanner"></section>
<main id="main">
    <div class="container">
        <div class="alert alert-danger fade show" role="alert">
            Error {{status}} : {{title}} <a href="/" class="btn">Retour</a>
        </div>
    </div>

</main>