<section id="innerBanner"></section>
<main id="main">
  <div class="admin-dashboard">
    <div class="sidebar">
 <ul>
   <a href="/rdv">
<li>
Rendez-vous
   </li>
   </a>
   <a href="/clients"><li>
     Clients
   </li></a>
   
   
 </ul>
  </div>
  <div class="main-content">
<div class="rdv-container card">
    <div class="rdv">
        <h2>rdv title</h2>
        <h3>rdv date</h3>
        <p>username</p>
    </div>

</div>
  </div>
  </div>
  
    
</main>
