<section id="innerBanner"></section>
<main id="main">
  <div class="admin-dashboard">
    <div class="sidebar">
 <ul>
   <a href="/rdv">
<li>
Rendez-vous
   </li>
   </a>
   <a href="/clients"><li>
     Clients
   </li></a>
   
   
 </ul>
  </div>
  <div class="main-content">
<div class="rdv-container">
  {{#each rows}}

    <div class="rdv">
        <h2>{{this.rdv_id}}</h2>
        <h3>{{this.date}}</h3>
    </div>
    {{/each}}

</div>
  </div>
  </div>
  
    
</main>
