<div class="form register">
	<h1>Créer un Compte</h1>
	<form action="/post-register" method="post">
		<label for="fname">
			<i class="fas fa-user"></i>
		</label>
		<input type="text" name="fname" placeholder="Prénom" id="fname" required>
		<label for="lname">
			<i class="fas fa-user"></i>
		</label>
		<input type="text" name="lname" placeholder="Nom" id="lname" required>
		<label for="username">
			<i class="fas fa-user"></i>
		</label>
		<input type="text" name="username" placeholder="Username" id="username" required>
		<label for="email">
			<i class="fas fa-user"></i>
		</label>
		<input type="text" name="email" placeholder="Email" id="email" required>
		<label for="password">
			<i class="fas fa-lock"></i>
		</label>
		<input type="password" name="password" placeholder="Mot de Passe" id="password" required>
		<input type="submit" value="Valider">
	</form>
	<div class="container d-flex p-3 justify-content-around">
		<p>Déja inscrit? Clickez ici</p>
		<a style="color: aqua;" href="/login">Se Connecter </a>
	</div>

</div>