

<section id="innerBanner"></section>
<main id="main">
  <div class="admin-dashboard">
<div class="sidebar">
 <ul>
   <a href="/rdv">
<li>
Rendez-vous
   </li>
   </a>
   <a href="/clients"><li>
     Clients
   </li></a>
   
   
 </ul>
  </div>
  
<div class="card">
      {{#each data}}


  <p> {{this.username}} </p>
  <p> {{this.email}} </p>
  <div>
    <h3>Liste des rendez-vous</h3>
    
  </div>
  {{/each}}
</div>  
</main>


