<section id="innerBanner"></section>
<main id="main">
  <div class="container-sm dashboard">
    {{>admin-sidebar}}
    <div class="container">
      {{#each data}}
      <p> {{this.username}} </p>
      <p> {{this.email}} </p>
      <div>
        <h3>Liste des rendez-vous</h3>
      </div>
      {{/each}}
    </div>
</main>